
.mat-toolbar.mat-primary{
	background: rgb(10,10,56);
	color: #fff;
}

.title-center{
  font-size: 30px;
 text-align: center;
  width: 100%;
  font-style: bold;
  color: white;
}
/* .login-element
{
	margin-top: -50px;
	position:fixed;
} */
/* .login-element
{
	margin-top: -500px;
} */
.login-container{
	width: 50%;
  	height:75%;
	  padding: 0% !important;
	background-color: #D0DCDF;
	/* margin-top: -520px; */
	/* position: fixed;  */

}
 
.login-box-header{
	width: auto;
    height: 20%;
    background-color: rgb(10,10,56);;
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
    padding: 2%;
    color: #fff;
}
 
.login-box-body{
	width: auto;
	height:100%;
	/* padding: 5% 5% 5% 5%; */
	color: #d2d2d2;
	/* margin-top: -400px; */
}

.login-icon{
	margin-top: -2px;
}
.justifier {
	width: 100%;
	padding-bottom: 2%;
}
.login-button{
	width: 80%;
	padding:1.5% !important;	
	background-color: rgb(10,10,56);;
	margin-bottom: 3%;
    font-size: 110%;
    color:orange !important;
}
body
{
	 overflow: hidden; 
	background-color: #D0DCDF;
	text-align: center;
}
mat-icon
{
	color: black;
}
.login
{
	color: orange;
}
.red-text
{
	margin-top:60px;
}
.input
{
	color:black;
	font-size:20px;
}