/* .title-center
{
  font-size: 30px;
 text-align: center;
  width: 100%;
  font-style: bold;
  color: white;
}
.mat-toolbar.mat-primary{
	background: #8F6182;
	color: #fff;
} */

.header
{
  background-color: rgb(10,10,56);
  padding: 20px 20px;
  width: 100%;
  overflow: hidden;
  top:0;
}

.logo
{
text-align: center;
color: orange;
font-size: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
}